on:
  push:
    branches:
    - main

name: Main
permissions:
  contents: read
jobs:
  build:
    name: Build (${{matrix.architecture}}, ${{matrix.configuration}})
    runs-on: windows-2022

    strategy:
      fail-fast: false
      matrix:
        architecture: [ x86, x64, arm64 ]
        configuration: [ Debug, Release ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build configure
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
          msbuild Configure.sln /m /t:Rebuild /p:Configuration=${{matrix.configuration}},Platform=${{matrix.architecture}}
